
body
{
    background-color: #e6ecf0;
}

h1
{
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
#agregar-particula
{
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 20px 4px 20px 20px; 
   background-color: whitesmoke;
   border-radius:5px;
   border: 1px solid darkgrey;
   height: 139px;
}

.container
{
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 4px 4px 30px 20px; 
    background-color: whitesmoke;
    border-radius:5px;
    border: 1px solid darkgrey;
}

#div-posicion
{
    margin-left:80px;
}

#tabla-particulas
{
    margin-top:20px;
    background-color: white;

}

select
{
    text-align-last:center;  
}

select:invalid 
{ 
    color: gray; 
}



#agregar-particula button
{
    margin-top: 2em;
    margin-left: 10px;
}

body>h4,h5
{
    margin-left: 10px;
    margin-top: 5px;
}

#resultado
{
    width:80%;
    height: 150px;
    
}

#magnitud-coulomb
{
    margin-top: 30px;
    text-align: center;
}
#particula-actual
{
   position: relative;
   text-align: center;
   top:20px;
   color: rgb(64, 143, 247);

}


tr.active 
{
    background-color: rgb(184, 184, 253);
}

#heading-fuerza-neta
{
    position: relative;
    margin-top:10px;
    text-align: center;
    top:20px;
    color: rgb(0, 0, 0);
   
}

label[for = 'cifra-significativa']
{
    margin-top:5px;
}

#div-cifra-significativa
{

}

.container-title
{
    text-align: center;
    margin-bottom: 10px;
}

#limpiar-lista,#opcion-electric
{
    margin-top:2.3em;
}

#herramientas 
{
    width:50%;
    /* text-align: center; */
    
}

#herramientas div *
{
    display: inline-block;
    
}